* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Playfair Display', serif;
  }
  
  section {
    width: 100%;
    min-height: 100vh;
    max-height: auto;
  }
  
  footer {
    background-color: #f5f5f5;
    color: black;
    text-align: center;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .home, .sobre, .faqs {
    background-color: white;
  }
  
  .trabalho, .beneficios, .contato {
    background-color: #07A8B0;
  }  
  
  .container-main {
    max-width: 1800px;
    margin: 0 auto;
  }
  
  /*CSS para o menu*/
  .menu {
    max-width: 1800px;
    background-color: white;
    color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 5px 3px -1px gray;
  }
  
  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    padding: 1rem;
    font-size: 1.2rem;
  }
  
  .menu a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: bold;
  }
  
  .menu ul.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 3px -1px gray;
  }
  
  .menu ul.active li {
    text-align: center;
    padding: 1rem;
  }
  
  .menu a.secao-ativa {
    color: #07A8B0; 
  }
  
  .icones-direita {
    position: absolute;
    right: 0.8rem;
    top: 0.8rem;
  }
  
  .icones-direita i {
    font-size: 1.8rem; 
    padding-right: 1.5rem;
    color: #07A8B0;
  }
  
  .logo {
    position: absolute;
    left: 0.8rem;
    top: 1rem;
    padding-left: 6rem;
  }
  
  .logo img {
    width: 110%;
    max-height: 2.3rem; 
    margin-right: 0.2rem;
    margin-top: -4px;
  }
  
  .hamburger {
    color: black;
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
  
  .hamburger.active i::before {
    content: "\f00d"; 
  }
  
