/*CSS para toda a página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

section {
  width: 100%;
  height: 100vh;
}

footer {
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 300;
}

.home, .sobre, .faqs {
  background-color: white;
}

.trabalho, .beneficios, .contato {
  background-color: #07A8B0;
}  

.container-main {
  max-width: 1800px;
  margin: 0 auto;
}

/*CSS para o menu*/
.menu {
  max-width: 2000px;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 5px 3px -1px gray;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  padding: 1rem;
  font-size: 1.2rem;
}

.menu a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
}

.menu ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 3px -1px gray;
}

.menu ul.active li {
  text-align: center;
  padding: 1rem;
}

.icones-direita {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}

.menu a.secao-ativa {
  color: #07A8B0; 
}

.icones-direita i {
  font-size: 1.8rem; 
  padding-right: 1.5rem;
  color: #07A8B0;
}

.hamburger {
  color: black;
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.hamburger.active i::before {
  content: "\f00d"; 
}

/*CSS para a home*/
.home {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 4rem;
}

.home-texto {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-texto p {
  font-size: 1.7em;
  font-weight: 700;
  line-height: 1.6;
  color: #07A8B0;
  text-align: justify;
  padding: 2% 15%;
}

.aumentar-texto span {
  font-size: 1.2rem;
}

#black {
  color: black;
}

.home-imagem {
  margin-top: 3rem;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-imagem img {
  max-width: 50rem;
  object-fit: cover;
  height: 75vh;
  width: 80%;
}

.btn-whatsapp {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 0.5rem 1.2rem;
  margin-top: 1.2rem;
  background-color: #07A8B0;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.btn-whatsapp:hover {
  background-color: #065f64;
}

.inversion {
  width: 15%;
  background-color: white;
  color: #07A8B0;
  padding: 0.5rem;
}

.inversion:hover {
  background-color: white;
}

.home-texto i {
  padding-left: 0.5rem;
}

.imagem-texto {
  width: 80%;
  background-color: #07A8B0;
  color: #fff;
  text-align: center;
  padding: 0.2rem 0;
  min-width: 25rem;
  font-size: 1.2rem;
}

/*CSS para a Meu trabalho*/
.trabalho {
  padding: 4rem 2rem;
  text-align: center;
}

.trabalho h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 15px;
  margin-top: 7rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  min-height: 400px;
  background-color: #f9f9f9;
  font-size: 2rem;
  font-weight: 600;
  color: #07A8B0;
  padding: 1.2rem;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.card p {
  font-size: 1.6rem;
  margin: 0;
  padding: 0.2rem;
}

#cardBlack {
  text-align: justify;
  color: black;
  font-size: 1.3rem;
  padding: 1rem 1.4rem;
  font-weight: 500;
}

.carousel-btn {
  display: none;
}

.carousel-btn i {
  display: none;
}

.carousel-btn[disabled] {
  display: none;
}


/*CSS para a Sobre*/
.sobre {
  padding: 2rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  position: relative;
}

.header-container h3 {
  margin: 0;
  padding: 1rem 5rem; 
  color: #07A8B0;
  font-size: 2rem;
  position: relative;
  display: inline-block;
}

.header-container h3::before,
.header-container h3::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #07A8B0;
  left: 0;
}

.header-container h3::before {
  top: 0; /* Linha superior */
}

.header-container h3::after {
  bottom: 0; /* Linha inferior */
}

.sobre-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.caixa-texto {
  height: 68vh;
  margin-left: 7%;
  min-width: 800px;
  width: 100%;
  flex: 1;
  padding: 1.5rem 0;
  padding-left: 5rem;
  padding-right: 10rem;
  border: 3px solid #07A8B0;
  border-radius: 0.6rem;
  background-color: #fff;
  text-align: justify;
}

.caixa-texto h2 {
  color: #07A8B0;
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.7rem;
}

.caixa-texto ul {
  padding-left: 1.5rem;
}

.caixa-texto li {
  font-size: 1.05rem;
  margin-bottom: 1rem;
}

.caixa-texto p {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1.2rem;
}

.caixa-texto i {
  padding-left: 0.5rem;
}

.sobre-imagem {
  flex: 1;
  position: relative;
  z-index: 0;
}

.sobre-imagem img {
  height: 50vh;
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 38px;
  left: -120px;
  border-radius: 0.6rem;
  z-index: 10;
}

.posicionar {
  border-radius: 0 0 0.6rem 0.6rem ;
  top: 0px;
  left: -120px;
  position: relative;
  top: 54vh; 
  width: 31.3rem;
  text-align: center;
  z-index: 20; 
}

/*CSS para beneficios*/
.beneficios {
  height: 190vh;
  padding: 2rem 5rem;
  text-align: center;
}

.beneficios h2 {
  color: white;
  font-size: 2rem;
  margin: 2rem 0;
}

.cards-beneficios {
  display: grid;
  gap: 1.5rem;
}

.cards-beneficios h3 {
  color: white;
  font-size: 1.8rem;
  grid-column: span 3; 
}

.card-beneficio {
  height: 60vh;
  background-color: #ffffff;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  text-align: center;
}

.card-beneficio img {
  margin: 0 auto;
  padding: 2rem 0;
  color: #07A8B0;
  font-size: 4em;
}

.card-beneficio p {
  text-align: justify;
  font-size: 1.5rem;
  color: #07A8B0;
  padding: 1rem 2.5rem; 
}

/*CSS para as FAQS*/
.faqs {

  height: auto;
  min-height: 100vh;
  padding: 2rem 5rem;
  text-align: center;
}

.faqs h2 {
  color: #07A8B0;
  font-size: 2rem;
  margin: 2rem 0;
  text-align: center;
  margin-bottom: 2rem;
}

.faqs {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.faq-card {
  background-color: #f5f5f5;
  color: #07A8B0;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 1px;
  box-shadow: 0 2px 4px #07a8b044;
  font-size: 1.4rem;
  font-weight: 700;
}

.faq-question {
  display: flex;
  justify-content: left;
  cursor: pointer;
  padding: 0.8rem;
}

.faq-question h3 {
  padding-top: 0.2rem;
}

.faq-question i {
  margin-top: 4px;
  margin-right: 10px;
  padding: 0.4rem;
  transition: transform 0.3s ease;
}

.faq-answer {
  display: none;
  background-color: #07A8B0;
  color: white;
  padding: 1rem;
  text-align: left;
  border-top: 1px solid #ccc;
}

.faq-answer a {
  margin-left: 0;
}

.arrow {
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(90deg);
}

.faq-answer i {
  padding-left: 0.5rem;
}

/*CSS para contato*/
.contato-texto p {
  color: white;
  text-align: center;
  font-size: 2rem;
}

.contato-imagem {
  margin-top: 7rem;
}

.inversion-contato {
  background-color: white;
  color: #07A8B0;
}


/* Adiciona um layout de grade com três colunas */

@media (max-width: 1460px) {
  .sobre-imagem {
    display: none; 
  }
} 

@media (max-width: 1250px) {
  #beneficios h3 {
    display: none;
  }
  .beneficios {
    height: 100vh; /* Ajuste conforme necessário */
    padding: 2rem 5rem;
    text-align: center;
  }
  
  .beneficios h2 {
    color: white;
    font-size: 1.8rem;
    margin: 2rem 0;
  }
  
  .carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 2rem; /* Ajuste conforme necessário */
  }
  
  .card {
    max-height: 28rem;
    min-width: 100%;
    flex-shrink: 0;
    text-align: center;
  }
  
  .card-beneficio {
    height: 60vh;
    background-color: #ffffff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
  }
  
  .card-beneficio img {
    padding: 2rem 0;
    color: #07A8B0;
    font-size: 4em;
  }
  
  .card-beneficio p {
    text-align: justify;
    font-size: 1.5rem;
    color: #07A8B0;
    padding: 1rem 2.5rem; 
  }
  
  .carousel-btn {
    color: #07A8B0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
  }
  
  .carousel-btn i {
    display: block;
  }
  
  .carousel-btn.prev {
    left: 0;
  }
  
  .carousel-btn.next {
    right: 0;
  }
  
  .carousel-btn i {
    font-size: 1.5rem;
  }
  
} 

@media (max-width: 1000px) {
  .home {
    height: auto;
    padding-bottom: 2rem;
  }
  .container {
    display: block;
  }
  .home-texto {
    padding-top: 5rem;
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .home-texto p {
    padding: 2%;
  }
  
  .home-imagem {
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    width: 100%;
    height: auto;
  }

  .home-imagem img {
    padding: 0;
    margin: 0;
    min-width: 25rem;
  }

  .caixa-texto {
    min-width: 500px;
    width: 100%;
  }

  .contato {
    height: auto;
    padding-bottom: 2rem;
  }
}

@media (min-width: 768px) {
  .cards-beneficios {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  /*CSS para o menu*/
  
  .menu ul {
    display: none;
    position: fixed;
    top: 4.5rem; 
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 3px -1px gray;
    flex-direction: column;
    z-index: 800;
  }

  .menu ul.active {
    display: flex;
    width: 50%;
    padding-top: 2rem;
    background-color: white;
  }

  .menu ul li {
    text-align: center;
    padding: 1rem;
  }

  .icones-direita {
    top: 1.2rem;
  }

  .icones-direita i {
    color: black;
  }

  .hamburger {
    display: block;
    z-index: 900;
  }

  /*CSS para a home*/
  .btn-whatsapp {
    width: 50%;
    padding: 0.5rem;
  }

  .home-imagem img {
    height: 30rem;
    padding: 0;
    margin: 0;
    min-width: 22rem;
  }

  .imagem-texto {
    min-width: 22rem;
  }

  /*CSS Meu trabalho*/
  .carousel-container {
    position: relative;
    overflow: hidden;
  }

  .cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 5rem;
  }

  .card {
    min-width: 100%;
    flex-shrink: 0;
    max-height: 50rem;
  }

  .card p {
    font-size: 1.6rem;
    font-weight: 700;
  }

  #cardBlack {
    font-size: 1.3rem;
    font-weight: 600;
  }

  .carousel-btn {
    color: #07A8B0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
  }

  .carousel-btn i {
    display: block;
  }

  .carousel-btn.prev {
    left: 0;
  }

  .carousel-btn.next {
    right: 0;
  }

  .carousel-btn i {
    padding-top: 8rem;
    font-size: 1.5rem;
  }
  /*CSS para Sobre*/
  .caixa-texto {
    min-width: auto;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .header-container {
    margin-bottom: 1rem;
  }
  
  .header-container h3 {
    padding: 0.5rem 5rem; 
    font-size: 1.2rem;
  }

  .beneficios {
    padding: 2rem;
  }
  
  .beneficios h2 {
    color: white;
    font-size: 1.8rem;
    margin: 2rem 0;
  }

  .cards-beneficios {
    gap: 4rem;
  }

  #contato {
    height: auto;
  }

  .cards-beneficios h3 {
    font-size: 1.6rem;
  }
  
  .card-beneficio img {
    padding: 1rem 0;
  }
  
  .card-beneficio p {
    font-size: 1.5rem;
    padding: 1rem 2.5rem; 
  }
}

@media (max-width: 420px) {
  .card {
    font-size: 1.2rem;
    max-height: 32rem;
  }

  .header-container h3 {
    padding: 0.3rem 5rem; 
    font-size: 1rem;
  }

  .caixa-texto {
    height: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .caixa-texto p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .btn-whatsapp {
    width: 80%;
  }
}