* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display', serif;
}

section {
  width: 100%;
  min-height: 100vh;
  max-height: auto;
}

footer {
  background-color: #f5f5f5;
  color: black;
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  font-weight: 300;
}

.home, .sobre, .faqs {
  background-color: white;
}

.trabalho, .beneficios, .contato {
  background-color: #07A8B0;
}  

.container-main {
  max-width: 1800px;
  margin: 0 auto;
}

/*CSS para o menu*/
.menu {
  max-width: 1800px;
  background-color: white;
  color: black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 5px 3px -1px gray;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  padding: 1rem;
  font-size: 1.2rem;
}

.menu a {
  color: black;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
}

.menu ul.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 3px -1px gray;
}

.menu ul.active li {
  text-align: center;
  padding: 1rem;
}

.icones-direita {
  position: absolute;
  right: 0.8rem;
  top: 0.8rem;
}

.menu a.secao-ativa {
  color: #07A8B0; 
}

.icones-direita i {
  font-size: 1.8rem; 
  padding-right: 1.5rem;
  color: #07A8B0;
}

.hamburger {
  color: black;
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.hamburger.active i::before {
  content: "\f00d"; 
}


/* Adiciona um layout de grade com três colunas */
@media (min-width: 1930px) {
  .card p {
    font-size: 2.5rem;
  }
  #cardBlack {
    font-size: 1.8rem;
  }
  .caixa-texto p {
    font-size: 1.5rem;
  }
  .caixa-texto li {
    font-size: 1.5rem;
  }
  .cardB p {
    font-size: 2.1rem;
  }
}

@media (min-width: 768px) {
  .cards-beneficios {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  /*CSS para o menu*/
  .menu ul {
    display: none;
    position: fixed;
    top: 4.5rem; 
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 5px 3px -1px gray;
    flex-direction: column;
    z-index: 800;
  }

  .menu ul.active {
    display: flex;
    width: 50%;
    padding-top: 2rem;
    background-color: white;
  }

  .menu ul li {
    text-align: center;
    padding: 1rem;
  }

  .icones-direita {
    top: 1.2rem;
  }

  .icones-direita i {
    color: black;
  }

  .hamburger {
    display: block;
    z-index: 900;
  }

  /*CSS para a home*/ 
  .btn-whatsapp {
    width: 50%;
    padding: 0.5rem;
  }

  .home-imagem img {
    height: 30rem;
    padding: 0;
    margin: 0;
    min-width: 22rem;
  }

  .imagem-texto {
    min-width: 22rem;
  }

  /*CSS Meu trabalho*/ 
  .carousel-container {
    position: relative;
    overflow: hidden;
  }

  .cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 5rem;
  }

  .card {
    height: 60vh;
    min-width: 100%;
    flex-shrink: 0;
  }

  .cardB {
    height: 60vh;
    min-width: 100%;
    flex-shrink: 0;
  }

  .card p {
    font-size: 2.5rem;
    font-weight: 700;
  }

  #cardBlack {
    font-size: 1.9rem;
    font-weight: 600;
  }

  .carousel-btn {
    color: #07A8B0;
    display: block;
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
  }

  .carousel-btn i {
    display: block;
  }

  .carousel-btn.prev {
    left: 0;
  }

  .carousel-btn.next {
    right: 0;
  }

  .carousel-btn i {
    padding-top: 8rem;
    font-size: 1.5rem;
  }
  /*CSS para Sobre*/ 
  .caixa-texto {
    min-width: auto;
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .caixa-texto p {
    font-size: 1.3rem;
  }
  .caixa-texto li {
    font-size: 1.3rem;
  }

  .header-container {
    margin-bottom: 1rem;
  }
  
  .header-container h3 {
    padding: 0.5rem 5rem; 
    font-size: 1.2rem;
  }

  .beneficios {
    padding: 2rem;
  }
  
  .beneficios h2 {
    color: white;
    font-size: 1.8rem;
    margin: 2rem 0;
  }

  .cards-beneficios {
    gap: 4rem;
  }

  #contato {
    height: auto;
  }

  .cards-beneficios h3 {
    font-size: 1.6rem;
  }
  
  .card-beneficio img {
    padding: 1rem 0;
  }
  
  .card-beneficio p {
    font-size: 1.5rem;
    padding: 1rem 2.5rem; 
  }
  .cardB p {
    font-size: 2.3rem;
  }
}

@media (max-width: 550px) {
  .card p {
    font-size: 2.1rem;
  }

  #cardBlack {
    font-size: 1.6rem;
  }
  .caixa-texto p {
    font-size: 1.2rem;
  }
  .caixa-texto li {
    font-size: 1.2rem;
  }
  .cardB p {
    font-size: 2rem;
  }
} 

@media (max-width: 450px) {
  .card p {
    font-size: 2rem;
  }

  #cardBlack {
    font-size: 1.5rem;
  }
  .cardB p {
    font-size: 1.7rem;
  }
}

@media (max-width: 420px) {
  .card {
    font-size: 1.2rem;
    max-height: 32rem;
  }

  .card p {
    font-size: 1.8rem;
  }

  .cardB {
    font-size: 1.2rem;
    max-height: 32rem;
  }

  .cardB p {
    font-size: 1.4rem;
  }

  #cardBlack {
    font-size: 1.3rem;
  }

  .header-container h3 {
    padding: 0.3rem 5rem; 
    font-size: 1rem;
  }

  .caixa-texto {
    height: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  
  .caixa-texto p {
    font-size: 0.9rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  .btn-whatsapp {
    width: 80%;
  }
  
}

@media (max-width: 360px) {
  .card p {
    font-size: 1.5rem;
  }

  #cardBlack {
    font-size: 1.1rem;
  }
  .cardB p {
    font-size: 1.3rem;
  }
}

/*
@media (max-width: 1799px) {
  .card p {
    font-size: 1.8rem;
  }

  #cardBlack {
    font-size: 1.4rem;
  }

  .cardB p {
    font-size: 1.4rem;
  }
 
}

@media (max-width: 1460px) {
  .trabalho {
    height: 120vh;
  }
  .sobre-imagem {
    display: none; 
  }
  .card p {
    font-size: 1.5rem;
  }

  #cardBlack {
    font-size: 1.2rem;
  }
  .caixa-texto p {
    font-size: 1.7rem;
  }
  .caixa-texto li {
    font-size: 1.7rem;
  }

  .cardB p {
    font-size: 1.4rem;
  }

} 

@media (max-width: 1250px) {
  .trabalho {
    height: 100vh;
  }
  #beneficios h3 {
    display: none;
  }
  .beneficios {
    height: 100vh; 
    padding: 2rem 5rem;
    text-align: center;
  }
  
  .beneficios h2 {
    color: white;
    font-size: 1.8rem;
    margin: 2rem 0;
  }
  
  .carousel-container {
    position: relative;
    overflow: hidden;
  }
  
  .cards {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 2rem; 
  }
  
  .card {
    max-height: 50vh;
    min-width: 100%;
    flex-shrink: 0;
    text-align: center;
  }

  .cardB {
    max-height: 60vh;
    min-width: 100%;
    flex-shrink: 0;
    text-align: center;
  }

  .card p {
    font-size: 2rem;
  }

  #cardBlack {
    font-size: 1.6rem;
  }
  
  .card-beneficio {
    height: 60vh;
    background-color: #ffffff;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
  }
  
  .card-beneficio img {
    padding: 2rem 0;
    color: #07A8B0;
    font-size: 4em;
  }
  
  .card-beneficio p {
    text-align: justify;
    font-size: 2rem;
    color: #07A8B0;
    padding: 1rem 2.5rem; 
  }
  
  .carousel-btn {
    color: #07A8B0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    z-index: 1000;
  }
  
  .carousel-btn i {
    display: block;
  }
  
  .carousel-btn.prev {
    left: 0;
  }
  
  .carousel-btn.next {
    right: 0;
  }
  
  .carousel-btn i {
    font-size: 1.5rem;
  }
  .caixa-texto p {
    font-size: 1.6rem;
  }
  .caixa-texto li {
    font-size: 1.6rem;
  }

  .cardB p {
    font-size: 2.5rem;
  }
  
} 

@media (max-width: 1000px) {
  .home {
    height: auto;
    padding-bottom: 2rem;
  }
  .container {
    display: block;
  }
  .home-texto {
    padding-top: 5rem;
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .home-texto p {
    padding: 2%;
  }
  
  .home-imagem {
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    width: 100%;
    height: auto;
  }

  .home-imagem img {
    padding: 0;
    margin: 0;
    min-width: 25rem;
  }

  .card p {
    font-size: 2rem;
  }

  .cardB p {
    font-size: 2.4rem;
  }

  #cardBlack {
    font-size: 1.6rem;
  }

  .caixa-texto {
    min-width: 500px;
    width: 100%;
  }

  .contato {
    height: auto;
    padding-bottom: 2rem;
  }
  .caixa-texto p {
    font-size: 1.4rem;
  }
  .caixa-texto li {
    font-size: 1.4rem;
  }
}
*/
