.trabalho {
  padding: 4rem 2rem;
  text-align: center;
}

.trabalho h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: calc(50% - 15px); 
  min-width: 320px;
  height: 60vh;
  background-color: #f9f9f9;
  font-size: 2rem;
  font-weight: 600;
  color: #07A8B0;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 0.6rem;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 2.8rem;
  margin-top: -10px;
  padding: 0.2rem;
}

#cardBlack {
  margin-top: 30px;
  color: black;
  font-size: 2rem;
  padding: 1rem 1.4rem;
  font-weight: 600;
}
#smallCardBlack {
  margin-top: 50px;
  color: black;
  font-size: 1.6rem;
  font-weight: 600;
}

#cardBlack-especial {
  margin-top: 10px;
  color: black;
  font-size: 1.4rem;
  padding: 1rem 1.4rem;
}

/* .carousel-btn {
  display: none;
}
.carousel-btn i {
  display: none;
}
.carousel-btn[disabled] {
  display: none;
} */